<div class="card small-padding">
  <h2>{{action}} Frequency</h2>
  <form [formGroup]="frequenciesForm" (ngSubmit)="onSubmit(frequenciesForm.value)" >
    <div class="form-group">
      <label for="frequency_name">Frequency Name</label>
      <input type="text" id="frequency_name" name="name" class="form-control" formControlName="name"
             placeholder="Enter frequency name..">
    </div>
    <div class="form-group">
      <label for="sizes">Frequency Size:</label>
      <select id="sizes" class="form-control" formControlName="size">
        <option value="32">32B</option>
        <option value="64">64B</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">{{action}}</button>
  </form>
</div>
