<h1>Frequencies System</h1>
<p>Please enter a name for your frequency that consists of only numbers, letters or underscores.</p>
<p>You can generate a new frequency, or download an existing one.</p>
<div class="d-flex justify-content-around margin-top">
   <app-frequency-action-box [action] = "generate"
                          (frequencyRequestEvent) = emitGenerateFrequency($event)>
   </app-frequency-action-box>
   <app-frequency-action-box [action] = "download"
                          (frequencyRequestEvent) = emitDownloadFrequency($event)>
   </app-frequency-action-box>
</div>



