/* You can add global styles to this file, and also import other style files */
body{
  font-family: verdana, sans-serif;
  background-color: #A9CCE3;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
   font-size: 250%;
}

h2 {
   font-size: 200%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

select {
  cursor: pointer;
}

.small-padding {
  padding:1em;
}

.margin-top {
  margin-top: 3em;
}
